// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #101c2b;
$secondary : #27313d;
$accent    : #a38a63;

$dark      : #0a1016;

$positive  : #5f7468;
$negative  : #a14545;
$info      : #5d748c;
$warning   : #a38a63;

$background-color: #e9eaea;
$font-color-primary: #797879;
$table-backgound-color: #ffffff;


body.body--light {
    --q-color-primary   : #101c2b;
    --q-color-secondary : #27313d;
    --q-color-accent    : #a38a63;

    --q-color-dark      : #0a1016;

    --q-color-positive  : #5f7468;
    --q-color-negative  : #a14545;
    --q-color-info      : #5d748c;
    --q-color-warning   : #a38a63;

    --background-color: #e9eaea;
    --font-color-primary: #797879;
    --table-backgound-color: #ffffff;
}

// .body--dark
// body.body--dark -> override
body.body--dark {
    --q-color-primary   : #162435;
    --q-color-secondary : #313c49;
    --q-color-accent    : #b09973;

    --q-color-dark      : #0a1016;

    --q-color-positive  : #678072;
    --q-color-negative  : #b75a5a;
    --q-color-info      : #68819b;
    --q-color-warning   : #b09973;

    --background-color: #000000;
    --font-color-primary: #797879;
    --table-backgound-color: #2e2c2c;
}
