// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #0a2540;
$secondary : #1a1a1a;
$accent    : #c9a860;

$dark      : #0d0d0d;

$positive  : #4a7c59;
$negative  : #a83737;
$info      : #4a6b84;
$warning   : #c9a860;

$background-color: #e9eaea;
$font-color-primary: #797879;
$table-backgound-color: #ffffff;


body.body--light {
    --q-color-primary   : #0a2540;
    --q-color-secondary : #1a1a1a;
    --q-color-accent    : #c9a860;

    --q-color-dark      : #0d0d0d;

    --q-color-positive  : #4a7c59;
    --q-color-negative  : #a83737;
    --q-color-info      : #4a6b84;
    --q-color-warning   : #c9a860;

    --background-color: #e9eaea;
    --font-color-primary: #797879;
    --table-backgound-color: #ffffff;
}

// .body--dark
// body.body--dark -> override
body.body--dark {
    --q-color-primary   : #1a3a52;
    --q-color-secondary : #2a2a2a;
    --q-color-accent    : #d4b373;

    --q-color-dark      : #0d0d0d;

    --q-color-positive  : #5a8c6a;
    --q-color-negative  : #b84545;
    --q-color-info      : #5a7b94;
    --q-color-warning   : #d4b373;

    --background-color: #000000;
    --font-color-primary: #797879;
    --table-backgound-color: #2e2c2c;
}
